@media (min-width:300px) {}

@media (min-width:640px) {
    .uk-navbar-nav>li>a {
        padding: 0 60px;
    }
}

@media (min-width:960px) {
}

@media (min-width:1200px) {
    .HomeInfo .Block1 {
        padding-left: 400px;
    }

    .HomeInfo .Block2 {
        padding-right: 200px;
    }

    .HomeInfo .Block3 {
        padding-left: 200px;
    }

    .uk-navbar-nav>li>a {
        padding: 0 15px;
    }
}

@media (min-width:1600px) {}